
<div id="cart_items">
	<h1>Your Cart</h1>

	<div id="product_list">
		<%= render(@cart.line_items) %>
	</div>

</div>


<% unless @cart.number_of_products == 0 %>
	<%= render("order_cart") %>
<% else %>
	<h2>Your cart is empty.</h2>
<% end %>