

	

	<div id="product_list" class="col-xs-12 col-sm-6" >
		<% items.each do |line_item| %>
			<%= render partial: 'carts/product_in_cart', locals: {line_item: line_item }%>
		<% end %>
	</div>



