<div id="cart_details">

	Order:<br>
	<%= pluralize(@cart.number_of_products, 'product') %> <br>
	
	Total price for products:<br>
	<%= number_to_currency(@cart.total_price) %> <br>
	
	Total price for delivery: <br>
	<%= number_to_currency(@cart.delivery_price) %><br>
	
	<div class="cart_total">
		Total: <%= number_to_currency(@cart.total_delivery_and_products_price) %><br>
	</div>
	
</div>

