/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require bootstrap.min
 *= require_self
 *= require bxslider
 *= require_tree ./application/
 */


@import url(http://fonts.googleapis.com/css?family=Montserrat);

$light_orange: #f0b49e;
$header_color: #625a62;
$grey: #a1a1a1;

body {
  font-family: 'Montserrat';
}

#header {
  background-color: $header_color;
  margin-bottom: 0px;
  border-bottom: none;
}

#menu_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
#menu {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 70px;
  
  li {
    float: left;
//    border-bottom: 3px solid $header_color;
    a {
      color: white;
    }
    a:hover {
      color: $light_orange;
    }
    ul {
      position: absolute;
      background-color: $header_color;
      li {
        width: 100%;
        a {
          color: black;
        }
        a:hover {
          color: black;
        }
      }
    }
  }
  li:hover {
//    border-bottom: 3px solid $light_orange;
  }

}



#languages {
   font-family: 'Montserrat';
   float: left;
   overflow: hidden;
   position: absolute;
   top: 0;
   right: 0;
   margin-top: 45px;
   list-style-type: none;
   color: $light_orange;
   font-weight: 200;
   li {
    display: inline;
     a {
        margin-right: 5px;
        margin-left: 5px;
        color: $light_orange;
      }
      a:hover {
        background-color: transparent;
        text-decoration: none;
        color: white;
      }
  }
}


#cart {
  width: 47px;
  float: right;

  overflow: hidden;
  position: absolute;
  top: 0;
  right: 80px;
  margin-top: 30px;
  a {
    img {
      margin-top: 10px;
      background-color: transparent;
    }
    &:hover {
      background-color: transparent;
    }
  }
  #number_of_products {
    float: right;
    margin-bottom: 20px;
    background-color: #e74c3c;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: 400;
    width: 18px;
    height: 18px;
  }
}

#content {
  width: 85%;
  margin: 0 auto;
}

#admin_menu {
  margin-top: 0;
  top: 0;
  border-bottom: none;
}

#footer {
  width: 90%;
  margin: 100px auto;
//  height: 30px;
  background-color: white;
  border: none;
  border-top: 1px solid $grey;
    
    #copyright {
      float: left;
    }
    
    #footer_menu {
      float: right;
      
      li {
        display: inline;
        a {
          color: $grey;
        }
      }
    }
}


//BUTTONS -----------------------------------------------------------------------
.button {
  background-color: #e74c3c;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  float: right;
  height: 31px;
  width: 28%;
  min-width: 110px;
  margin: 1% 1% 1% 1%;
  border: 2px solid #e74c3c;
}

.button:hover {
  cursor: pointer;
  background-color: #f16354;
  border: 2px solid #f16354;
}

.grey_button {
  background-color: #645c64;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  float: right;
  height: 31px;
  min-width: 120px;
  margin: 1% 1% 1% 1%;
  border: 2px solid #645c64;
}

.grey_button:hover {
  cursor: pointer;
  background-color: #807880;
}



.cancel_button {
  border: 2px solid #7d7d7d;
  border-radius: 6px;
  color: #555555;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  float: right;
  height: 31px;
  width: 120px;
  margin: 1% 1% 1% 1%;
  background-color: white;
}

.cancel_button:hover {
  background-color: #eff3f3;
  cursor: pointer;
}

.buttons {
  float: right;
  text-align: right;
  margin-top: 10px;
}

.right {
  float: right;
  text-align: right;
}
.bold {
  font-weight: 600;
}

h2 {
  margin-left: 5%;
  color: darkgrey;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'Montserrat';
}

h1 {
  margin-left: 5%;
  color: darkgrey;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'Montserrat';
}
#notice_area {
  height: 30px;
  text-align: center;
  color: $light_orange;
  font-size: 16px;
  font-weight: 600;
}

#logo {
  width: 100px;
  padding-left: 0;
  padding-right: 0;
}

@media all and (max-width: 800px) {
  #languages {
    display: none;
  }
}

@media all and (min-width: 1600px) {
  
  #menu_container {
    width: 1180px;
    margin: 0 auto;
  }
  #content {
    width: 1180px;
    margin: 0 auto;
  }
  #notice_area {
    width: 1180px;
    margin: 0 auto;
  }
  #footer {
    width: 1180px;
    margin: 0 auto;
  }
}

