@import url(http://fonts.googleapis.com/css?family=Montserrat);

*{
	margin: 0;
}

body {
	font-family: 'Montserrat';
}




#header {
	background-image: url(menu_background.jpg);
	background-repeat: repeat-x;
	height: 80px;
	width: 100%;
	margin-top: 0;

	// 	MENU CONTAINER
	#menu_container {
		height: 80px;
		width: 1180px;
		margin: 0 auto;
		padding-top: 20px;
	
		#logo{
			width: 150px;
			float: left;
		}
		
		#cart {
			width: 47px;
			float: right;
			
			img {
				margin-top: 10px;
			}
			#number_of_products {
				float: right;
				margin-bottom: 20px;
				background-color: #e74c3c;
				border-radius: 10px;
				color: white;
				text-align: center;
				font-weight: 400;
				width: 18px;
				height: 18px;
				
			}
		}
	
		#menu, #login_register {
			list-style-type: none;
			float: left;
			font-family: 'Montserrat';
			font-weight: 600;
			text-transform: uppercase;
			margin: 10px auto;
			height: 40px;
			
			li {
				float: left;
				margin: 0 30px 0 0;
				color: white;
				position: relative;
				height: 50px;
				
				a {
					.orange {
						color: #f0b49e;
					}
				}
				
				ul {
					text-transform: lowercase;
					font-weight: 400;
					font-size: 12px;
					display: none;
					position: absolute;
					top: 50px;
					left: -75px;
					width: 150px;
					
					li {
						display: block;
						background: rgba(103,94,101,0.95);
						padding: 10px;
						text-align: center;
					}
					
					li:hover {
						background: rgba(103,94,101,1);
						
					}
				}
				
				a {
					text-decoration: none;
					font-size: 14px;
				}
				a:visited {
					color: white;
					text-decoration: none;
				}
				li:hover {
					color: #f0b49e;
				}
			}
			
			li:hover {
				a:hover {
					color: #f0b49e;
				}
				
				cursor: pointer;
				
				
				ul {
					display: block;
				}
			}
			a {
				text-decoration: none;
				font-size: 14px;
			}
			a:visited {
				color: white;
				text-decoration: none;
			}
		
			}
		
		#login_register{
			float: right;
		}
	}	
}

// NOTICE AREA

#notice {
	height: 30px;
	width: 250px;
	background-color: rgba(100,92,100,0.3);
	color: #e74c3c;
	padding: 10px;
	font-size: 12px;
	float: right;
	right: 0;
}

// ADMIN MENU
#admin_menu_container {
	width: 100%;
	background-color: #f16354;
	
	#admin_menu {
		list-style-type: none;
		width: 1180px;
		font-family: 'Montserrat';
		font-weight: 400;
		text-transform: uppercase;
		margin: 0 auto;
		height: 30px;
		padding-top: 10px;
		
		color: white;

		li {
			margin-left: auto;
			margin-right: auto;
			float: left;
			margin: 0 30px 0 0;
			color: white;
			position: relative;
			height: 80px;

			a {
				.orange {
					color: #f0b49e;
				}
			}

			ul {
				text-transform: lowercase;
				font-weight: 400;
				font-size: 12px;
				display: none;
				position: absolute;
				top: 30px;
				left: -40px;
				width: 80px;

				li {
					display: block;
					background: rgba(241,99,84,0.85);
					height: 30px;
					padding: 10px;
					width: 50px;
					text-align: center;
				}

				li:hover {
					background: rgba(241,99,84,1);

				}
			}

			a {
				text-decoration: none;
				font-size: 14px;
			}
			a:visited {
				color: white;
				text-decoration: none;
			}
			li:hover {
				color: #f0b49e;
			}
		}

		li:hover {
			a:hover {
				color: #f0b49e;
			}

			cursor: pointer;


			ul {
				display: block;
			}
		}
		a {
			text-decoration: none;
			font-size: 14px;
		}
		a:visited {
			color: white;
			text-decoration: none;
		}

	}
}
#container {
	width: 1180px;
	margin: 0 auto;
	
	// CONTENT
	#content {
		width: 1180px;
		overflow: hidden;
		background-color: white;
		margin-bottom: 80px;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 100px;
	}

// FOOTER
	#footer {
		width: 100%;
		height: 200px;
		border-top: 1px solid grey;
		background-color: white;
		
	
		#copyright {
			width: 30%;
			float: left;
			color: grey;
			font-size: 12px;
			padding-top: 10px;
		}
		

		#footer_menu {
			margin-top: 0;
			padding-top: 8px;
			font-size: 14px;
			font-weight: 400;
			list-style: none;
			float: right;
			

			li {
				text-decoration: none;
				margin-left: 20px;
				margin-right: 20px;
				float: right;
				list-style-type: circle;
				a {
					text-decoration: none;
					color: grey;
				}
				a:visited {
					text-decoration: none;
					color: grey;
				}
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
}



.button {
	background-color: #e74c3c;
	border-radius: 6px;
	color: white;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
//	float: left;
	height: 40px;
	width: 100px;
	margin: 10px 5px 10px 5px;

}
.button:hover {
	cursor: pointer;
	background-color: #f16354;
}

.cancel_button {
	border: 2px solid #7d7d7d;
	border-radius: 6px;
	color: #555555;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
//	float: left;
	height: 40px;
	width: 100px;
	margin: 10px 5px 10px 5px;
	background-color: white;
}

.cancel_button:hover {
	background-color: #eff3f3;
	cursor: pointer;
}

.buttons {
	float: right;
}
h2 {
	margin-left: 5%;
	color: darkgrey;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 40px;
	margin-bottom: 30px;
}

input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]), select, textarea {
	width: 250px;
	height: 45px;
	border-radius: 5px;
	margin: 5px 5px 5px 5px;
	padding: 0 10px 0 10px;
	font-size: 18px;
	font-weight: 200;
}

select {
	cursor: pointer;
	
	option {
		
	}
	option:hover {
		background-color: #959595;
	}
}

// PRODUCT

.product {
	width: 200px;
	height: 230px;
	float: left;
	color: #aaaaaa;
	font-size: 12px;
	text-decoration: none;
	margin: 15px 25px 15px 25px;
	padding: 20px 20px 20px 20px;
	border: 3px solid white;
	border-radius: 25px;
	
	.price_line {
		font-size: 22px;
		font-weight: 800;
		margin: 0 auto;
		color: #7d7d7d;
	}
	
	img {
		height: 160px;
		max-width: 98%;
	
	}
	a {
		text-decoration: none;
		color: #aaaaaa;
	}
	a:visited {
		text-decoration: none;
		color: #aaaaaa;
	}
	a:hover {
		color: #aaaaaa;
		text-decoration: underline;
	}
}
.product:hover {

	border: 3px solid #e6e6e6;
	border-radius: 25px;
}

// PRODUCT SHOW

#product_display_form {
	float: left;
	width: 1180px;
	height: 600px;
	margin: 20px 20px 20px 20px;
	overflow: hidden;
	
	.product_title {
		font-size: 16px;
		float: left;
		width: 1160px;
	}
	
	.product_description {
		width: 550px;
		float: left;
		margin: 30px 20px 30px 20px;
		
		.price_line {
			font-size: 30px;
		}
	}
	img {
		width: 500px;
		float: left;
	}
	
	.button {
		float: right;
		margin-right: 300px;
	}

	#product_details {
		border-left: 2px solid darkgrey;
		padding-left: 50px;
		margin: 100px 0 0 100px;
		color: grey;
		float: left;

		#variants_chooser{
			margin-top: 50px;
			color: black;
		}
	}
}

strong {
	font-weight: 600;
	color: darkgrey;
	font-size: 15px;

}

#similar_products{
	width: 1180px;
	margin-top: 250px;
	
}





// ADMIN INDEX

#product_list {
	width: 1180px;
	font-size: 16px;
	color: darkgrey;
	
	#product_in_list {
		width: 600px;
		margin: 15px 20px 15px 20px;
		padding: 10px 10px 10px 10px;
		border: 3px solid white;
		overflow: hidden;
		
			#product_price {
				float: right;
				font-size: 20px;
				font-weight: 600;
			}
			.product_list_details {
				color: #aaaaaa;
				margin-left: 50px;
				width: 70%;
			}

			.product_list_actions {
				float: left;
				
				a {
					color: #e74c3c;
					text-decoration: none;
				}
				a:hover {
					color: #e74c3c;
					text-decoration: underline;
				}
				a:visited {
					color: #e74c3c;
					text-decoration: none;
				}
			}
			img {
				float: left;
				height: 100px;
				width: 100px;
			}
	}
	#product_in_list:hover {
		border: 2px solid #aaaaaa;
		border-radius: 20px;
	}
	
	
}

// ADDRESSES 

#address_list {
	width: 1180px;
	overflow: hidden;
	
	.address_display {
		margin: 20px 10px 20px 10px;
		border-left: 1px solid #aaaaaa;
		padding-left: 20px;
		float: left;
	}
	
}
#user_links {
	margin-top: 30px;
}


// CART DISPLAY



#cart_items {
	margin: 20px 10px 20px 10px;
	padding-left: 20px; 
	float: left;
	width: 700px;
	
	.cart_title {
		font-size: 20px;
		font-weight: 500;
	}
	
	#cart_total {
		border-top: 1px solid #aaaaaa;
		color: black;
		font-size: 20px;
		font-weight: 600;
		text-align: right;
	}
	
}

#product_in_cart {
	width: 700px;
	height: 120px;
	margin-bottom: 50px;
	margin-top: 50px;
	border-bottom: 1px solid #aaaaaa;
	
	
	
	img {
		width: 120px;
		height: 120px;
		float: left;
	}
	
	.product_details{
		width: 250px;
		float: left;
		margin-left: 80px;
		
	}
	.product_price {
		width: 250px;
		float: left;
	}
	
	.delete_icon {
		float: right;
		vertical-align: middle;
		
		img {
			height: 17px;
			width: 17px;
		}
		
	}
}


#cart_details {
	float: right;
	border: 2px solid #b7b7b7;
	border-radius: 5px;
	width: 350px;
	height: auto;
	text-align: right;
	color: black;
	padding-right: 50px;
	padding-top: 50px;
	text-transform: uppercase;
	font-family: 'Montserrat';
	padding-bottom: 20px;
	
	
	.cart_total {
		border-top: 2px solid #b7b7b7;
		padding-top: 20px;
		font-weight: 600;
		font-size: 20px;
		margin-top: 50px;
		
	}
}



//

.product_sizes_creator {
	border-bottom: 1px solid #aaaaaa;
	margin: 10px 10px 10px 10px;
	padding-bottom: 10px;
	width: 600px;

}


.product_variant {
	margin: 20px 10px 20px 10px;
	border-left: 1px solid #aaaaaa;
	padding-left: 20px;
	width: 900px;
	float: left;
	
}



table {
	td, th {
		width: 200px;
		text-align: center;
	}
}


// LOGIN FORM

#login_form {
	margin: 0 auto;
	background-color: #f9fafa;
	border: 2px solid #e5e5e5;
	border-radius: 10px;
	height: 270px;
	width: 500px;
	text-align: left;
	padding-bottom: 30px;
	
	#login_data {
		margin: 20px 20px 10px 20px;
		padding: 10px 10px 10px 10px;
	}
	
	
	.button {
		float: right;
	}
	
	h3{
		float: left;
		margin-left: 10px;
		margin-top: 15px;
	}
	
	a {
		float: right;
		color: #7ca3cc;
		text-decoration: none;
		margin-right: 10px;
		margin-top: 15px;
	}
	a:visited{
		color: #7ca3cc;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}


// SIGN UP FORM

#sign_up_form {
	margin: 0 auto;
	background-color: #f9fafa;
	border: 2px solid #e5e5e5;
	border-radius: 10px;
	height: 350px;
	width: 500px;
	text-align: left;
	
	#sign_up_data {
		margin: 20px 20px 10px 20px;
		padding: 10px 10px 10px 10px;
	}
	
	
	.actions {
		float: right;
	}
	
	h3{
		float: left;
		margin-left: 10px;
		margin-top: 15px;
	}
	
	a {
		float: right;
		color: #7ca3cc;
		text-decoration: none;
		margin-right: 10px;
		margin-top: 15px;
	}
	a:visited{
		color: #7ca3cc;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

#address_form {
	width: 700px;
	float: left;
	
}


#all_user_addresses {
	width: 700px;
	float: left;
	
	.user_address {
		border-left: 1px solid #aaaaaa;
		padding-bottom: 20px;
		margin-top: 20px;
		width: 650px;
		float: left;
		margin-right: 70px;
		padding-left: 20px;
		
		a {
			width: 100%;
			float: left;
		}
		
		.orange {
			color: #e74c3c;
		}

	}
}

