/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require_tree ./application/
 */


$light_orange: #f0b49e;
$header_color: #625a62;
$grey: #a1a1a1;

#admin_menu_container {
  width: 100%;
  border-bottom: none;
  position: absolute;
  z-index: 2;
  margin-top: 80px;
}

#on_sale {
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 250px;
  font-family: 'Montserrat';
  position: absolute;
  z-index: 2;
  top: 180px;
  right: 290px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 15px;

  p {
    font-size: 18px;
    width: 100%;
    font-weight: 600;
  }
  p.percent {
    margin-top: 0;
    font-size: 60px;
    width: 100%;
  }
  .button {
    width: 95%;
    margin: 0 auto;
  }

}

#items_on_sale_slider {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0 0 0 0;
  border: 0;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: #fff;
}

body {
  font-family: 'Montserrat';
}

#notice_area {
  z-index: 2;
  position: absolute;
}

#content {
  width: 85%;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px;
  padding-right: 3%;
  padding-left: 3%;
  z-index: 2;
}

#header {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

#menu_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
#menu {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 50px;
  
  li {
    float: left;
//    border-bottom: none;
    a {
      color: white;
    }
    a:hover {
      color: $light_orange;
//      border-bottom: none;
    }
    ul {
      background-color: grey;
      li {
        width: 100%;
        a {
          color: black;
        }
        a:hover {
          color: black;
        }
      }
    }
  }

}



#languages {
   font-family: 'Montserrat';
   float: left;
   overflow: hidden;
   position: absolute;
   top: 0;
   right: 0;
   margin-top: 45px;
   list-style-type: none;
   color: $light_orange;
   font-weight: 200;
   li {
    display: inline;
     a {
        margin-right: 5px;
        margin-left: 5px;
        color: $light_orange;
      }
      a:hover {
        background-color: transparent;
        text-decoration: none;
        color: white;
      }
  }
}


#cart {
  width: 47px;
  float: right;
  margin-left: 20px;
  a {
    img {
      margin-top: 10px;
      background-color: transparent;
    }
    &:hover {
      background-color: transparent;
    }
  }
  #number_of_products {
    float: right;
    margin-bottom: 20px;
    background-color: #e74c3c;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: 400;
    width: 18px;
    height: 18px;
  }
}




#footer {
  width: 85%;
  margin: 100px auto;
  height: 100px;
  background-color: white;
  border: none;
  border-top: 1px solid $grey;
  z-index: 2;
    
    #copyright {
      float: left;
      
    }
    
    #footer_menu {
      float: right;
      
      li {
        display: inline;
        a {
          color: $grey;
        }
      }
    }
}




div.row {
  margin: 0;
  padding: 0;

  h2 {
    margin-left: 5%;
    color: darkgrey;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 30px;
  }
}

.button {
  background-color: #e74c3c;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  float: right;
  height: 31px;
  width: 28%;
  min-width: 110px;
  margin: 1% 1% 1% 1%;
  border: 2px solid #e74c3c;
}
.button:hover {
  cursor: pointer;
  background-color: #f16354;
  border: 2px solid #f16354;
}


