/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require_tree ./application/
 */


$light_orange: #f0b49e;
$header_color: #625a62;
$grey: #a1a1a1;

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  font-family: 'Montserrat';
}

#header {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
}

#menu_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
#menu {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 50px;
  
  li {
    float: left;
//    border-bottom: none;
    a {
      color: white;
    }
    a:hover {
      color: $light_orange;
//      border-bottom: none;
    }
    ul {
      background-color: grey;
      li {
        width: 100%;
        a {
          color: black;
        }
        a:hover {
          color: black;
        }
      }
    }
  }

}



#languages {
   width: 5%;
   float: right;
   overflow: hidden;
   position: absolute;
   top: 0;
   right: 0;
   a {
     margin-top: 2px;
     float: left;
      img {
        width: 100%;
      }
    }
    a:hover {
      background-color: transparent;
    }
}


#cart {
  width: 47px;
  float: right;
  margin-left: 20px;
  a {
    img {
      margin-top: 10px;
      background-color: transparent;
    }
    &:hover {
      background-color: transparent;
    }
  }
  #number_of_products {
    float: right;
    margin-bottom: 20px;
    background-color: #e74c3c;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: 400;
    width: 18px;
    height: 18px;
  }
}

#content {
  width: 90%;
  margin: 20% auto;
  background-color: white;
}


#footer {
  width: 90%;
  margin: 100px auto;
  height: 100px;
  background-color: white;
  border: none;
  border-top: 1px solid $grey;
    
    #copyright {
      float: left;
      
    }
    
    #footer_menu {
      float: right;
      
      li {
        display: inline;
        a {
          color: $grey;
        }
      }
    }
}

h2 {
  margin-left: 5%;
  color: darkgrey;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 40px;
  margin-bottom: 30px;
}