<% if params[:locale]=='ba' %>
  <h2><%= @category.translation_for_category_name('ba') %></h2>
<% else %>
   <h2><%= @category.name %></h2>
<% end %>
 



<% if session[:role]=='administrator' %>
<%= link_to 'Edit', edit_category_path(@category) %>
<% end %>


<!--
<div id="category_menu">
	<ul>
		<li>Newest products</li>
		<li>Lowest price products</li>
		<li>Highest price products</li>
	</ul>

</div>
-->

<div id="product_list">
<% @products.each do |product| %>
	<%= render partial: "products/product", locals: {product: product} %>
<% end %>

</div>
