
    <div class="product col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= link_to image_tag(product.image_url, class: 'img-responsive'), product_path(product) %>

      <% if params[:locale] == 'ba' %>
        <h3><%= link_to product.get_title_translation('ba'), product_path(product) %></h3>
      <% else %>
        <h3><%= link_to product.title, product_path(product) %></h3>
      <% end %>


      <div class="price_line">
        <%= number_to_currency(product.price) %>
      </div>

    </div>
