
<!--
	<div id="items_on_sale">
	</div>
-->

	<% cache ['store', Product.latest] do %>

	<h2>New in store</h2>
		<% @products.each do |product| %>

			<% cache ['entry', product] do %>
				<%= render partial: "products/product", locals: {product: product} %>
				
			<% end %>
		<% end %>
	<% end %>
