#new_billing_address {
  display: none;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}

.user_address {
      border: 3px solid lightgrey;
      margin-right: 10px;
      border-radius: 5px;
      padding: 20px;
      margin-top: 20px;
      float: left;
      color: black;
      .title {
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 600;
      }
      a {
        float: left;
        color: #7ca3cc;
        text-decoration: none;
        margin-right: 10px;
        margin-top: 15px;
      }
      a:visited {
        color: #7ca3cc;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
        background-color: transparent;
      }

    }
    .user_address:hover {
      border: 3px solid #cbebd8;
      border-radius: 5px;
      color: black;
    }
 