.address_form:nth-child(2) {
  display:none;
}

.address_form:nth-child(1) {
  display:block;
}

#address_list {
	width: 1180px;
	overflow: hidden;
	
	.address_display {
		margin: 20px 10px 20px 10px;
		border-left: 1px solid #aaaaaa;
		padding-left: 20px;
		float: left;
	}
	
}
  
.address_form {
  
  font-family: 'Montserrat';
	width: 430px;
	float: left;
  margin: 20px;
  margin-bottom: 40px;
  padding: 2px 10px 10px 10px;
  margin-right: 300px;
  overflow: hidden;

  #billing_checkbox {

    margin-top: 50px;
  }

  .title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }
  
    select {
      width: 420px;
    }
  
  .grey_button {
    margin-left: 310px;
  }

}



	

#address_container {
  width: 100%;
  font-family: 'Montserrat';
  
  #all_user_addresses {
    width: 580px;
    float: left;
    min-height: 350px;
    margin-right: 60px;
    
    .grey_button {
      float: right;
    }
    
    .links{

      width: 580px;
    }


    .user_address {
      border: 3px solid lightgrey;
      margin: 0 10px 10px 10px;
      border-radius: 5px;
      padding: 20px;
      margin-top: 20px;
      width: 220px;
      float: left;

      
      .title {
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 600;
      }

       a {
        float: left;
        color: #7ca3cc;
        text-decoration: none;
        margin-right: 10px;
        margin-top: 15px;
      }
      a:visited{
        color: #7ca3cc;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
        background-color: transparent;
      }

      .orange {
        color: #e74c3c;
      }

    }
    
    .user_address:hover {
      border: 3px solid #cbebd8;
      border-radius: 5px;
      color: black;
    }
  }
   #cart_details {
    float: right;
    border: 2px solid #b7b7b7;
    border-radius: 4px;
    width: 350px;
    min-height: 220px;
    text-align: right;
    font-weight: 200;
    padding-right: 30px;
    padding-top: 40px;
    font-family: 'Montserrat';
    padding-bottom: 20px;

    .lightgrey{
      color: lightgrey;
    }
    .darkgrey {
      color: #64566c;
    }

    .cart_total {
      border-top: 2px solid #b7b7b7;
      padding-top: 20px;
      font-weight: 600;
      font-size: 20px;
      margin-left: 30px;
      margin-top: 30px;
    }
  }

  
  
}

