// detailed show

#add_image_link{
  width: 100%;
  float: left;
}
#images_container {
 // padding: 5%;  
}

.images {
  overflow: hidden;
  position:relative;
  .image {
    margin-bottom: 10px;
    margin-right: 0;
    .delete_icon {
      right: 0;
      top: 0;
      position: absolute;
      img {
        float: left;
      }
    }
  }
}

//-------------
.price_line {
  font-size: 20px;
  margin-top: 10px;
}

.product_title {
  font-size: 16px;
  font-family: "Montserrat";
  a { 
    color: darkgrey;
  }
}

.product {
  max-height: 388px;
  float: left;
  color: #aaaaaa;
  font-size: 12px;
  text-decoration: none;
  padding: 20px;
  border: 3px solid white;
  border-radius: 25px;
  text-align: center;
  .price_line {
    font-size: 20px;
    font-weight: 800;
    margin: 0 auto;
    color: black;
    margin-top: 10px;
  }
  img {
    padding: 10px;
  }
  a {
    &:hover {
      background-color: transparent;
    }
  }
  h3 {
    a {
      text-decoration: none;
      color: #aaaaaa;
      font-size: 14px;
      &:visited {
        text-decoration: none;
        color: #aaaaaa;
        background-color: transparent;
      }
      &:hover {
        color: #aaaaaa;
        text-decoration: underline;
        background-color: transparent;
      }
    }
  }
}

.product:hover {
  border: 3px solid #e6e6e6;
  border-radius: 15%;
}

#discount_display {

  .price_line {
    font-size: 15px;
    font-weight: 600;

    color: red;
    width: 40%;
    float: left;

    .outer {
      text-decoration: line-through;
      .price{
        color: darkgrey;
        font-weight: 400;
      }

    }



    .discount {
      text-decoration: none;
    }

  }

  .new_price {
    mergin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
  }

}

#sold_out {
  width: 100%;
  margin: 5%;
  margin-top: 10%;
  margin-bottom: 80%;
  color: #625a62;
  font-weight: 600;
  font-size: 20px;

}

#product_display_form {
  
  .size {
    width: 60%;
    float: left;

    select {
      max-width: 300px;
    }
  }

  .quantity {
    width: 40%;
    padding-left: 2%;
    float: left;
  }
}

.product_description {
  max-width: 550px;
}